<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eosobande.itokuto">

    <application
        android:fullBackupContent="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true" />

</manifest>